<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <%- include('partials/navbar') %>

            <h1> Sorry could not find <%= subredit %> Subredit
            </h1>
            <%- include('partials/footer') %>