<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>

            <h1> This is a 1 to 10 random generator:
                <%= rand %>
                    <% if(rand % 2==0){ %>
                        <h1> This is even number</h1>
                        <% }else{ %>
                            <h1>This is odd number</h1>
                            <% } %>
            </h1>
            <h1>
                <%= rand%2===0 ? 'Even number' : 'Odd number' %>
            </h1>
            <%- include('partials/footer') %>